@model RosterDay

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-flex justify-content-between m-4 border rounded-2">
    <button class="btn btn-outline-primary">
        <a class="text-decoration-none"  asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(-1).Date"> Vorige dag </a>
    </button>
    
    <p>Week @Model.GetWeekNumber(Model.Date) | @Html.DisplayFor(model => model.Date) </p>

    <button class="btn btn-outline-primary">
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(1).Date"> Volgende dag </a>
    </button>
    

</div>



<div>
    <button btn btn-outline-secondary>
        <a class="text-decoration-none" asp-action="Edit" asp-controller="Prognosis" asp-route-id="@Model?.PrognosisDay.Id">(Edit prognose) Nog te roosterde uren: </a>
    </button>
    
</div>

<div >

    <dl class="row border" >
        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            
            <dt >
                @Html.DisplayNameFor(model => model.PrognosisDay.CassiereDepartment) : 
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrognosisDay.CassiereDepartment) Uren
            </dd>
        </div>

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.PrognosisDay.FreshDepartment) : 
            </dt>
            <dd >
                @Html.DisplayFor(model => model.PrognosisDay.FreshDepartment) Uren
            </dd>
        </div >

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.PrognosisDay.StockersDepartment) : 
            </dt>
            <dd >
                @Html.DisplayFor(model => model.PrognosisDay.StockersDepartment) Uren
            </dd>
        </div>
       
        
       
    </dl>
</div>

<div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form>
            <div class="form-group">
                <button class="btn btn-outline-primary">
                    <a type="submit" class="text-decoration-none" asp-action="Index" asp-route-department=""> Update rooster </a>
                </button>

            </div>
        </form>
    </div>
    <!--table, 24 long horizontal -->
    <table class="table">
        <thead>
            <tr>
                @for (int i = 0; i < 25; i++)
                {
                    <th>@i</th>
                }
            </tr>
        </thead>



     <tbody>

         <tr>
                <td>
                 <form>

                        <select id="DepartmentSelect" class="form-select" aria-label="Default select example">
                            <option selected value="1">@DepartmentEnumExtension.GetDutchNames(DepartmentEnum.Fresh)</option>
                            <option value="2">@DepartmentEnumExtension.GetDutchNames(DepartmentEnum.Cassiere)</option>
                            <option value="3">@DepartmentEnumExtension.GetDutchNames(DepartmentEnum.Stocker)</option>
                        </select>


                        <div class="form-group">
                            <button class="btn btn-outline-primary">
                            <a type="submit" class="text-decoration-none" asp-action="Index" asp-route-department=""> Sorteer op afdeling </a>
                            </button>

                        </div>

                    </form>

                   
             </td>
         </tr>
            <!--For each available employee, create a row-->
            @if (Model.AvailableEmployees != null)
            {
                foreach (var employee in Model.AvailableEmployees)
                {
                    <tr>
                        <td>
                            @employee.FullName
                          
                        </td>
                        @for (int i = 0; i < 24; i++)
                        {
                            <td>

                           @if (Model.IsPlanned(employee, i))
                                {

                                     
                                     <div class="roster-item" style="background-color: green ; padding: 10px; border: 1px solid black;"> 
                                        
                                     </div>
                                      <div class="roster-hidden">
                                             <p>hi</p>
                                         </div>
                                }else{
                                    <div class="roster-item" style="background-color: black ; padding: 10px; border: 1px solid black;">                                   
                                        </div>
                                     <div class="roster-hidden">
                                            
                                        </div>
                                }
     
                                
                            </td>
                        }
                        <td>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Roster" asp-route-employeeId="@employee.Id" asp-route-prognosisId="@Model.PrognosisDay.Id" asp-action="Create">Voeg dienst toe</a>
                        </td>
                    </tr>
                }
            }

</tbody>
</table>
    

</div>
